.answer-bingo, .answer-correct {
  background-color: green !important;
}
.answer-wrong {
  background-color: red !important;
}
.answer-bingo.mat-mdc-standard-chip, .answer-correct.mat-mdc-standard-chip, .answer-wrong.mat-mdc-standard-chip {
  --mdc-chip-label-text-color: white;
}

.mat-mdc-chip-option {
  border: green 1px solid;
}
.mat-mdc-standard-chip {
  --mdc-chip-elevated-container-color: white;
  --mdc-chip-label-text-color: green;
}

.btn-new {
  margin-top: 20px;
}
