<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title class="align-center">RESULTS</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <ng-container *ngIf="resultsData.data">
      <div *ngFor="let result of resultsData.data; let i = index">
        <div>{{ result.question | decodeHtmlString }}</div>
        <div>
          <mat-chip-listbox hideSingleSelectionIndicator aria-label="Answer selection">
            <ng-container *ngFor="let res of result.answers">
              <mat-chip-option
                [selectable]="false"
                [class.answer-bingo] = "res.type === 'bingo'"
                [class.answer-correct] = "res.type === 'correct'"
                [class.answer-wrong] = "res.type === 'wrong'"
              >{{ res.text  | decodeHtmlString}}</mat-chip-option>
            </ng-container>
          </mat-chip-listbox>
        </div>
      </div>
    </ng-container>

    <div
      [style.background-color]="getBackgroundColor()"
    >
      You scored {{ resultsData.correct_answers }} out of 5
    </div>
  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button class="btn-new" color="primary" id="newQuizBtn" (click)="newQuiz()">Create a new quiz</button>
  </mat-card-actions>
</mat-card>
