<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Trivia quiz</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <select #category id="categorySelect">
      <option *ngFor="let category of categories" value="{{category.id}}">{{category.name}}</option>
    </select>

    <select id="difficultySelect" #difficulty>
      <option value="easy">Easy</option>
      <option value="medium">Medium</option>
      <option value="hard">Hard</option>
    </select>

    <button mat-raised-button color="primary" class="btn-create" id="createBtn" (click)="create(category.value, difficulty.value)">Create</button>

    <div class="answers-container">
      <ng-container *ngIf="triviaData">
        <div *ngFor="let trivia of triviaData; let i = index">
          <div>{{ trivia.question | decodeHtmlString }}</div>
          <div>
            <mat-chip-listbox hideSingleSelectionIndicator aria-label="Answer selection">
              <ng-container *ngFor="let answer of trivia.answers">
                <mat-chip-option (click)="onButtonClick($event, i)">{{ answer | decodeHtmlString}}</mat-chip-option>
              </ng-container>
            </mat-chip-listbox>
          </div>
        </div>
      </ng-container>
    </div>
  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button color="primary" class="btn-submit" *ngIf="showSubmitBtn" id="submitBtn" (click)="submit()">Submit</button>
  </mat-card-actions>
</mat-card>
