.btn-create {
  margin-left: 20px;
}
.btn-submit {
  margin-top: 20px;
}
.answers-container {
  margin-top: 30px;
}
.mat-mdc-chip-option {
  background-color: white !important;
  border: green 1px solid;
  color: green !important;
}
.mat-mdc-standard-chip {
  --mdc-chip-label-text-color: green;
}
.mat-mdc-chip-selected {
  background-color: green !important;
}
.mat-chip.mat-standard-chip::after {
  background: white;
}
